<% include partials/header %>

<div class="row" style="display:flex; flex-wrap: wrap;">
    <% names.forEach(function(name){ %>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/vids/<%= name %>">
            <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="blah">
            <div class="caption">
              <p><%= name %></p>
            </div>
          </a>
        </div>
      </div>
    <% }); %>
</div>

<% include partials/footer %>