.container {
    text-align: center;
}

.mirrored {
    -moz-transform: scale(-1, 1); 
    -webkit-transform: scale(-1, 1); 
    -o-transform: scale(-1, 1); 
    transform: scale(-1, 1); 
    filter: FlipH;
}

.mirrorBtn {
    background-color: rgb(103, 9, 9);
    color: white !Important;
}

